{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <center>
        <h1>Welcome to Pascasarjana Untirta</h1>
        <p>Program Pascasarjana berada di Jl. Raya Jakarta Km 4 Pakupatan Kota Serang Provinsi Banten<br> bla bla</p>
        <img src="{% static 'img/image014.jpg' %}" style="width:500px;height:300px;"><br><br>
        <h2>Visi dan Misi Fakultas Keguruan dan Ilmu Pendidikan Untirta tahun 2019 s.d. 2023</h2>
    </center>
        <h3>Visi</h3>
    <p>Pada tahu 2025 menjadi Pascasarjana yang maju bermutu, berdaya saing dan kebersamaan mencapai tujuan</p>
        <h3>Misi</h3>
    <p>1. Menyelenggarakan pengembangan Tri Dharma Perguruan Tinggi yang terbaik dan relevan dengan kebutuhan masyarakat sekarang dan mendatang</p>
    <p>2. Menjalin kerjasama dengan pihak pihak terkait baik dalam maupun luar negeri</p>
    <p>3. Membangun dan mengembangkan sistem manajemen mutu menuju efektivitas dan efisiensi</p>
</div>

{% endblock %}