{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <center>
        <h1>Welcome to Faculty of Technic Untirta</h1>
        <p>Fakultas Teknik Untirta berlokasi di Jl. Jendral Soedirman KM. 3 Cilegon 42435 Provinsi Banten.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/xWYCKDW5GSM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>Fakultas Teknik merupakan salah satu fakultas dalam lingkungan Universitas Sultan Ageng Tirtayasa, 
            dimana sejak tahun 2001 Untirta telah menjadi perguruan tinggi negeri berdasarkan Surat Keputusan Presiden Republik Indonesia 
            Nomor 32 tanggal 19 Maret tahun 2001.Kampus FT. Untirta berada dalam Kawasan Industri Cilegon, dimana pada kawasan ini terdapat 
            berbagai macam industri logam berat, kimia, manufacture, engineering dan pembangkit listrik, diantaranya PT. Krakatau Steel & Group, 
            PT. Krakatau Posco, PT. Candra Asri, PT. Asahimas, PT. Tri Polita, PT. PLN (Persero) PLTGU Cilegon, PT. Indonesia Power UBP Suralaya dan sebagainya. 
            Secara geografis, Fakultas Teknik Untirta berada pada gerbang dan lintasan perdagangan Jawa-Sumatera serta lintas perdagangan internasional,
             yaitu dengan adanya pelabuhan penyeberangan ASDP di Merak serta beberapa pelabuhan internasional diantaranya Cigading, Bojonegara dan Krakatau Bandar Samudra. 
             Secara administratif, Fakultas Teknik Untirta berada di Kota Cilegon dan Provinsi Banten yang terus berkembang.</p>
    <h2>Visi dan Misi Fakultas Teknik tahun 2019 s.d 2023</h2>
    </center>
    <h3>Visi</h3>
    <p>Terwujudnya Fakultas Teknik UNTIRTA yang UNGGUL, SMART, dan GREEN di Kawasan ASEAN Tahun 2030</p>
    <h3>Misi</h3>
    <p>1. Meningkatkan mutu, relevansi dan daya saing pendidikan serta lulusan yang kompetitif dan berdaya juang tinggi</p>
    <p>2. Meningkatkan kualitas dan kuantitas riset dan pengabdian masyarakat yang inovatif  dan aplikatif</p>
    <p>3. Meningkatkan daya dukung tatakelola fakultas teknik sebagai wujud fakultas yang Smart, Green dan Terintegrasi</p>
</div>
</div>
    
{% endblock %}