{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container">
    <center>
        <h1>Welcome to Economy and Bussines Faculty</h1>
        <p>Fakultas Ekonomi dan bisnis berada di Jl. Raya Palka Km. 03 Sindangsari, Kecamatan Pabuaran, Kabupaten Serang, Provinsi Banten, Indonesia 42164</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bJOvQjrOwxY?start=5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2>Visi dan Misi Fakultas Ekonomi dan Bisnis Untirta tahun 2019 s.d. 2023</h2>
    </center>
        <h3>Visi</h3>
    <p>Menjadi Fakultas yang Unggul dalam Bidang Ekonomi dan Bisnis di Kawasan ASEAN Tahun 2030</p>
        <h3>Misi</h3>
    <p>1. Meningkatkan kualitas pengetahuan melalui pendidikan profesional dengan terus mengembangkan berbagai sumber daya pembelajaran dan relevansi untuk menghasilkan lulusan yang unggul dalam bidang Ekonomi dan Bisnis</p>
    <p>2. Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat dalam bidang ekonomi dan bisnis dengan terus menciptakan suasana akademik dan lingkungan kolaboratif yang terbuka, untuk pertukaran gagasan secara bebas dan bermartabat</p>
    <p>3. Meningkatkan kualitas tata kelola Fakultas yang mapan dan berkelanjutan, serta upaya membangun kemitraan dengan berbagai pihak, baik lokal, nasional dan internasional</p>
</div> 

{% endblock %}