{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <center>
        <h1>Welcome to Faculty of Law Untirta</h1>
         <p>Fakultas Hukum Untirta berlokasi di Gedung Fakultas Hukum Jl. Raya Jakarta Km 4 Pakupatan
            Kota Serang Provinsi Banten</p><br>
         <img src="{% static 'img/image010.jpg' %}" style="width:500px;height:300px;"><br><br>
        <h2>Visi dan Misi Fakultas Hukum Untirta tahun 2019 s.d. 2023</h2>
    </center>
        <h3>Visi</h3>
    <p>Mewujudkan Fakultas Hukum Untirta yang Unggul, Berbasis Kearifan Lokal, dan Berdaya Saing untuk Mendukung Untirta Sebagai Universitas Terintegrasi yang Cerdas dan Berkelanjutan di Asia Tenggara Tahun 2030.</p>
        <h3>Misi</h3>
    <p>1. Meningkatkan Kualitas Lulusan Fakultas Hukum yang Unggul, Berkarakter dan Berdaya Saing Di Tingkat Nasional dan Asia Tenggara</p>
    <p>2. Meningkatkan Kualitas Dosen Fakultas Hukum dalam Penelitian dan Pengabdian Di Tingkat Nasional dan Asia Tenggara</p>
    <p>3. Meningkatkan Daya Mutu Akademik dan Prinsip-Prinsip Tata Kelola Fakultas serta Menjamin Peningkatan Akreditasi Institusi</p>
</div>
    

{% endblock %}