{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <center>
        <h1>Welcome to Faculty of Teaching Training and Education Untirta</h1>
        <p>Fakultas Keguruan dan Ilmu Pendidikan Untirta berlokasi di Ciwaru, Kecamatan Serang, Kota Serang, Banten</p>
        <img src="{% static 'img/image013.jpg' %}" style="width:500px;height:300px;"><br><br>
        <h2>Visi dan Misi Fakultas Keguruan dan Ilmu Pendidikan Untirta tahun 2019 s.d. 2023</h2>
    </center>
        <h3>Visi</h3>
    <p>“Mewujudkan FKIP sebagai fakultas yang Unggul dalam bidang pendidikan, Berkarakter dan Berdaya Saing di Tingkat Nasional dan Kawasan ASEAN Tahun 2030”</p>
        <h3>Misi</h3>
    <p>1. Meningkatkan kualitas sumber daya dosen, tenaga kependidikan, mahasiswa dan alumni yang unggul berkarakter, dan berdaya saing di kawasan ASEAN</p>
    <p>2. Meningkatkan kualitas pengajaran yang inovatif, penelitian dan pengabdian pada masyarakat dalam bidang pendidikan</p>
    <p>3. Meningkatkan kualitas tata kelola fakultas yang akuntabel, transparan dan profesional</p>
    <p>4. Pengembangan sarana dan prasarana kampus yang ilmiah berbasis teknologi informasi</p>
</div>
{% endblock %}