{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <center>
        <h1>Welcome to Agriculture Faculty</h1>
        <p>Fakultas Pertanian Untirta berlokasi di Fakultas Pertanian Untirta Sindangsari Integrated Campus (Kampus E).
        Jl. Raya Palka Sindangsari, Kec. Pabuaran, Kabupaten Serang, Banten 42163.
        </p>
        <img src="{% static 'img/image011.jpg' %}" style="width:500px;height:300px;"><br><br>
        <h2>Visi dan Misi Fakultas Pertanian Untirta tahun 2019 s.d. 2023</h2>
    </center>
        <h3>Visi</h3>
    <p>Pada Tahun 2030 Faperta menjadi institusi pendidikan tinggi perttanian yang unggul, berkarakter, berdaya saing, dan berperan aktif dalam pengembangan IPTEK menuju Smart and Sustainable Agriculture.</p>
        <h3>Misi</h3>
    <p>1. Menyelenggarakan pengembangan sumberdaya manusia pertanian yang unggul, berkarakter, dan berdaya saing dalam penguasaan IPTEK-Smart and Sustainable Agriculture</p>
    <p>2. Meningkatkan kuantitas dan kualitas penelitian dan pengabdian kepada masyarakat melalui inovasi IPTEK-Smart and Sustainable Agriculture untuk kesejahteraan masyarakat</p>
    <p>3. Menyelenggarakan tata kelola institusi yang baik efektif dan efisien melalui pemanfaatan teknologi informasi dan komunikasi</p>
</div>
    

{% endblock %}