{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 1190px">
            <div class="col-md-4"><br>
                {% if pesan %}
                    <div class="alert alert-success">{{ pesan }}</div>
                {% endif %}
                <form action="/tambah-dosen/" method="POST">
                <br>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-warning">Tambah Dosen</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}