{% extends 'base.html' %}

{% load static %}

{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <body>
    <div class="container-fluid">
        <div class="container bg-dark text-light shadow" style="margin-top:-200px">
            <div class="row" style="height: 2200px">
                <br><br><br>
                <center><br>
                    <h2>Lokasi Universitas Sultan Ageng Tirtayasa</h2>
                </center>
                <h4>Kampus A Pakupatan</h4>
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.07415975317!2d106.19237241413666!3d-6.120720561722195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e41f504a4ce2e5b%3A0xd7fbb1e65b42cbd2!2sUniversitas%20Sultan%20Ageng%20Tirtayasa%20(Untirta)!5e0!3m2!1sid!2sid!4v1663661253503!5m2!1sid!2sid" 
                    width="1100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div><br>
                <h4>Kampus B Cilegon</h4>
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.981672679305!2d106.02723311464439!3d-5.997252448708398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e418e277a3a0709%3A0x75a0417c8e1d3a9f!2sFakultas%20Teknik%20Untirta!5e0!3m2!1sid!2sid!4v1663661312046!5m2!1sid!2sid" 
                    width="1100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div><br>
                <h4>Kampus C Ciwaru</h4>
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.99917320115!2d106.16346731413674!3d-6.130811761815818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e41f53138ed2bcf%3A0xac42713348f8c795!2sFKIP%20UNTIRTA!5e0!3m2!1sid!2sid!4v1663661567350!5m2!1sid!2sid" 
                    width="1100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div><br>
                <h4>Kampus D Pandean</h4>
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.1350299137534!2d106.1376996146502!3d-6.112516849540041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e418b26b0bae6a1%3A0x7daee5584bf42617!2sKampus%20D3%20Keperawatan%20Universitas%20Sultan%20Ageng%20Tirtayasa!5e0!3m2!1sid!2sid!4v1663661529982!5m2!1sid!2sid" 
                    width="1100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div><br>
                <h4>Kampus E Sindangsari</h4>
                <div class="embed-responsive embed-responsive-21by9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.5697157434392!2d106.12291271413737!3d-6.188289562352283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e4221ef196497b9%3A0xf60ef7a24ea5646c!2sSultan%20Ageng%20Tirtayasa%20University!5e0!3m2!1sid!2sid!4v1663661650985!5m2!1sid!2sid" 
                    width="1100" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>


{% endblock %}