{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-dark text-light shadow" style="margin-top:-200px">
        <div class="row" style="height: 500px">
            <center><br>
        <h2>My Profil</h2>
        <p>Qisthi Qaeeda Rasullah | 2225210018-Pend.Mtk | Project TIK</p>
        <img src="{% static 'img/image017.jpg' %}" style="width:250px;height:350px;"><br><br>
             </center>
        </div>
    </div>
</div>

{% endblock %}