{% extends 'base.html' %}

{% load static %}

{% block content %}
  </head>
  <body>
    <div class="container-fluid">
        <div class="container bg-white text-dark shadow" style="margin-top:-200px">
            <div class="row" style="height: 420px">
                <center>
                    <br><h2>Visi dan Misi Universitas Sultan Ageng Tirtayasa Tahun 2019 s.d. 2023</h2>
                </center>
                <h2>VISI</h2>
                <a>Terwujudnya UNTIRTA Sebagai Integrated Smart and Green (It's Green) University yang UNGGUL, BERKARAKTER DAN BERDAYA SAING, 
                di Kawasan ASEAN tahun 2030</a>
                <h2>MISI</h2>
                <a>Meningkatkan kualitas, relevansi dan daya saing pendidikan serta 
                lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN</a>
                <a>Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat 
                yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman</a>
                <a>Meningkatkan daya dukung tatakelola perguruan tinggi yang baik sebagai implementasi dari 
                Integrated Smart and Green (It's Green) University</a>
                <h2>VALUE | JAWARA (Jujur, Adil, Wibawa, Amanah, Religius, Akuntabel)</h2>
                <a>“UNTIRTA merupakan rumah yang tidak hanya berperan sebagai tempat, 
                namun juga sebagai sumber pengetahuan, keteladanan, dan kebajikan. Oleh karena itu seluruh sivitas akademikanya 
                berkewajiban menjunjung tinggi nilai-nilai dasar dalam melaksanakan tugas dan tanggungjawabnya.” (Sulaiman. 2019)</a>
            </div>
        </div>
        <div class="container bg-secondary text-dark shadow" style="margin-top:0px">
            <div class="row" style="height: 630px">
            <center>
                <br><h2> Sejarah Singkat Universitas Sultan Ageng Tirtayasa</h2><br>
                <img src="{% static 'img/image003.jpg' %}" style="width:500px;height:300px;">
            </center><br><br><br>
            <p>Sejarah Universitas Sultan Ageng Tirtayasa dimulai dari Yayasan Pendidikan Tirtayasa yang didirikan 
                tanggal 1 Oktober 1980, berkedudukan di Serang, Banten. Pendirian yayasan ini dikukuhkan berdasarkan 
                Akte Notaris Rosita Wibisono, SH. No. 1 tanggal 1 Oktober 1980, yang kemudian diadakan perubahan melalui 
                Akte Notaris Ny. R. Arie Soetardjo, SH. No. 1 tanggal 3 Maret 1986. Maksud dan tujuan pendirian yayasan ini adalah :</p>
            <p>1. Membantu usaha-usaha pemerintah dalam bidang pendidikan umum.</p>
            <p>2. Mendirikan sekolah-sekolah mulai dari taman kanak-kanak sampai dengan perguruan tinggi, termasuk juga sekolah-sekolah kejuruan.</p>
            <p>3. Merencanakan dan mengusahakan sarana pendidikan, serta sarana olah raga.</p>
            

            </div>
        </div>
    </div>
</body>
{% endblock %}