{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <center>
        <h1>Welcome to Faculty of Social and Political Sciences Untirta</h1>
        <p>Fakultas Ilmu Sosial dan Ilmu Politik Untirta berada di Gedung FISIP UNTIRTA, Jl. Raya Palka Km 3 Sindangsari, Pabuaran, Kab. Serang Provinsi Banten.</p>
        <img src="{% static 'img/image012.jpg' %}" style="width:500px;height:300px;"><br><br>
        <h2>Visi dan Misi Fakultas ilmu Sosial dan Ilmu Politik Untirta tahun 2019 s.d. 2023</h2>
    </center>
        <h3>Visi</h3>
    <p>“Menjadikan FISIP Untirta Sebagai Pelopor Integrated, Smart and Green University yang Unggul, Berkarakter dan Berdaya Saing di kawasan ASEAN pada bidang kajian Ilmu Sosial dan Ilmu Politik 2030”</p>
        <h3>Misi</h3>
    <p>1. Menyelaraskan proses pendidikan dengan sistem pembelajaran daring Indonesia dan bahan ajar berbasis riset, serta kurikulum berorientasi industri 4.0</p>
    <p>2. Membangun kemitraan strategis dengan institusi nasional dan internasional dalam kegiatan applied research dan publikasi ilmiah dengan Open Journal System dan bereputasi pada bidang Administrasi Publik, Ilmu Komunikasi, dan Ilmu Pemerintahan</p>
    <p>3. Menyelenggarakan pengabdian masyarakat sesuai bidang ilmu yang mendorong kemampuan adaptasi dan inovasi tepat guna masyarakat untuk menjawab persoalan bangsa</p>
    <p>4. Modernisasi manajemen data pendidikan, penelitian dan pengabdian masyarakat serta penunjang pelayanan kemahasiswaan berbasis digital.</p>
</div> 

{% endblock %}