{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="container bg-white text-dark shadow" style="margin-top:-200px">
        <div class="row" style="height: 1190px">
            <center>
                <br><h2>Sekilas tentang Untirta</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/PS2J4LCe3Gg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h2>Universitas Sultan Ageng Tirtayasa</h2>
                <p>Universitas Sultan Ageng Tirtayasa atau kerap dikenal dengan Untirta ini merupakan PTN (Perguruan Tinggi Negeri) yang terdapat di Provinsi Banten, Indonesia. Dengan kampus utama di Serang, kampus Fakultas Teknik yang berada di Cilegon dan Fakultas Keguruan yang berada di Ciwaru.
                <br><br><br><br>
                <img src="{% static 'img/image019.png' %}" style=height:300px;width:720px; alt="">
                <p>Seperti Perguruan tinggi pada umumnya, mahasiswa dan dosen di Untirta senantiasa melakukan penelitian-penelitian dan pengabdian yang mengarah ke berbagai bidang untuk kemajuan bangsa Indonesia ke depannya.
                </p>
                <br>
        </div>
    </div>
    <div class="container bg-dark text-white shadow" style="margin-top:-200px">
        <div class="row" style="height:600px">
            <center>
                <br>
                <h2>Sambutan Rektor Untirta</h2>
                <img src="{% static 'img/image020.png'%}" style=height:400px;width:400px; alt="">
                <br>
                <p>Assalamualaikum Warahmatullahi Wabarakatuh, Selamat datang di website Universitas Sultan Ageng Tirtayasa. 
                Saya dengan bangga memperkenalkan Universitas Sultan Ageng Tirtayasa (Untirta) kepada semua pembaca. 
                Untirta adalah Perguruan Tinggi Negeri sebagai transformasi dari Perguruan Tinggi Swasta berdiri tahun tanggal 1 Oktober 1981 
                dan dinegerikan pada tanggal 9 Maret 2001 berdasarkan Keputusan Presiden Nomor : 32 Tahun 2001 merupakan 
                institusi tertinggi pendidikan formal bagi seorang yang ingin meningkatkan kualifikasi dan kompetensinya dalam berbagai disiplin 
                ilmu pengetahuan sekaligus merupakan sebuah entitas dan komunitas yang mempunyai karakteristik tersendiri dalam struktur kehidupan masyarakat.</p>
            </center>
        </div>
    </div>
</div>
{% endblock %}