{% extends 'base.html' %}

{% block content %}
<div class="container">
    <center>
        <h1>Welcome to Faculty of Medicine Untirta</h1> 
        <p>Fakultas Kedokteran berada di Jl. Raya Jkt Km 4, Pakupatan, Panancangan, Kec. Cipocok Jaya, Kota Serang, Banten 42124</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/A52ERpMzyc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h2>Visi dan Misi Fakultas Kedokteran Untirta tahun 2019 s.d. 2023</h2>
    </center>
        <h3>Visi</h3>
    <p>Terwujudnya FK UNTIRTA sebagai Integrated Smart and Green (It's Green) Faculty yang unggul, Berkarakter dan Berdaya Saing di kawasan ASEAN tahun 2030 dengan keunggulan pada bidang kesehatan kerja</p>
        <h3>Misi</h3>
    <p>1. Meningkatkan kualitas, kuantitas, relevansi dan daya saing pendidikan serta lulusan yang unggul, berkarakter dan berdaya saing di kawasan ASEAN dengan keunggulan pada bidang kesehatan kerja</p>
    <p>2. Meningkatkan kualitas dan kuantitas penelitian dan pengabdian kepada masyarakat yang inovatif berbasis kebutuhan nyata sesuai perkembangan zaman dengan keunggulan pada bidang kesehatan kerja</p>
    <p>3. Meningkatkan daya dukung tata kelola fakultas yang baik sebagai implementasi dari Integrated Smart and Green (It's Green) Faculty</p>
    <p>4. Menciptakan iklim akademik yang mampu mendukung perwujudan visi Untirta Untirta</p>
</div> 

{% endblock %}